<!DOCTYPE html>
<html>
<head>
<style>
#button{
    font-family: Optima, sans-serif;
    background-color: white;
    color: #00326e;
    border: 2px solid #00326e; 
    
}
div{
  text-align: center;
  font-family: Optima, sans-serif;
  font-size: 20px;
  color: #00326e;
  padding: 2%;
}
</style>
</head>
<body>
<div>
<iframe width="900" height="800" frameborder="0" scrolling="no" src="//plot.ly/~pz595/7.embed"></iframe>
<form action="/api/connectToApi" method="get">
<input id="button" type="submit" value="Back To Home">
</form>
</div>
</body>
</html>