<!DOCTYPE html>
<html lang="en">
<head>
<style>
#div1{
    text-align: center;
    font-family: Chalkduster, fantasy;
    font-size: 40px;
    color: #00326e;
}

#div2{
    text-align: center;
    font-family: Optima, sans-serif;
    font-size: 20px;
    color: #00326e;
    padding: 3%;
}

body {
  background: rgb(255,255,255);
  background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(148,187,233,1) 100%);
}
</style>

<body>
<div id="div1">
<p>Index</p>
</div>

<div id="div2">
<a href="https://raw.githubusercontent.com/raoli1/class_project/final/summary.txt">Summary</a>
</div>
<div id="div2">
<a href="https://github.com/raoli1/class_project/tree/final/analysis">Analysis</a>
</div>
<div id="div2">
<a href="https://visualizedata.azurewebsites.net/api/connectToApi">Web App Home Page</a>
</div>
<div id="div2">
<a href="https://visualizedata.azurewebsites.net/api/createPlot">More Data Visualization</a>
</div>
</body>
</html>